@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.rep {
    font-family: 'Roboto Mono', monospace;
    display: flex;
    flex-direction: column;
    padding: 0 1em;
    line-height: 1.6em;
    min-width: 300px;
    max-width: 500px;
    display: none;
    pointer-events: none;
}
.rep__top {
    color: var(--color-accent);
    font-weight: 700;
    font-size: 1.5em;
    text-transform: uppercase;
}
.rep__description {
    margin-top: 0.5em;
    font-weight: 500;
}
.rep__bottom {
    display: flex;
}
.rep__icons {
    display: flex;
    padding-right: 0.5em;
    margin-top: 1em;
}
.rep__icons svg {
    margin-right: 0.5em;
}
