.modal-rep {
    display: flex;
    margin-right: auto;
    margin-left: auto;
}
.modal-rep-wrap {
    position: absolute;
    top: 0;

    height: 100vh;
    width: 100vw;
    display: flex;
    background: var(--color-bg-body);
    flex-direction: column;
}
.modal-content {
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
    background: var(--color-bg);
    max-width: 600px;
}
.modal__button {
    text-align: end;
    margin-right: 2em;
    cursor: pointer;
}
.modal__button button {
    font-size: 2em;
}
